@import "/src/styles/variables";

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  border: 1px solid #EE773B;
  background: rgba(238, 119, 59, 0.4);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #FFFFFF !important;
    background: $primary-color !important;
  }
}
