@import "/src/styles/mixins";

.comment {
  display: flex;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #efefef;

  &:hover {
    .comment__date {
      opacity: 1;
    }

    .comment__controls {
      opacity: 1;
    }
  }

  &__left {
    min-width: 48px;
    margin: 0 16px 0 0;
  }

  &__img {
    overflow: hidden;
    border-radius: 100%;
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    flex: 1 1 auto;
  }

  &__contentHeader {
    margin: 0 0 8px 0;
    display: flex;
    justify-content: space-between;
  }

  &__userInfo {
    color: var(--color-gray);

  }

  &__userRating {
    font-size: 12px;
  }

  &__userRang {
    display: inline-block;
    margin: 0 0 0 4px;
    font-size: 12px;

    svg {
      position: relative;
      top: 2px;
    }
  }

  &__author {
    margin-right: 4px;
    white-space: nowrap;
    line-height: 16px;
    font-weight: 700;
    @include link;
  }

  &__date {
    opacity: 0;
    transition: opacity .3s cubic-bezier(.64,.28,.48,.99);
    font-size: 12px;
    color: var(--color-gray);
  }

  &__body {
    margin: 0 0 13px 0;
  }

  &__text {
    font-size: 16px;
    line-height: 18px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__likes {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  &__like {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;

    &:hover {
      & > svg {
        fill: white !important;
      }
    }

    &:not(:first-child) {
      margin: 0 0 0 10px;
    }
  }

  &__likeAmount {
    line-height: 16px;
    color: var(--color-secondary);
  }

  &__like_green {
    color: var(--color-green);

    &:hover {
      background: var(--color-green);
    }

    &_active {
      background: var(--color-green);

      & > svg {
        fill:white !important;
      }
    }
  }

  &__like_red {
    color: var(--color-red);

    &:hover {
      background: var(--color-red);
    }

    &_active {
      background: var(--color-red);

      & > svg {
        fill:white !important;
      }
    }
  }

  &__controls {
    opacity: 0;
    transition: opacity .3s cubic-bezier(.64,.28,.48,.99);
  }

  &__control {
    display: inline-block;
    padding: 5px 10px;
    background: transparent;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;

    &:hover {
      color: var(--color-secondary);
    }
  }
}
