@import "/src/styles/mixins";

.post {
  padding: 20px 0 0 0;
  background: var(--color-light-gray);

  &Container {
    background: white;
  }

  &Main {
    display: flex;
    border-bottom: 1px solid var(--color-light-gray);
  }

  &Left {
    flex: 0 1 420px;
  }

  &Right {
    padding: 30px 60px;
  }

  &Comments {
    position: relative;
    margin: 50px 0 0 0;
  }
}

.left {

  &Container {
    max-width: 320px;
  }

  &Header {
    padding: 20px 10px;
    border-bottom: 1px solid var(--color-light-gray);
    font-size: 14px;
    line-height: 14px;
  }

  &Posts {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &Post {
    padding: 5px 10px;
  }
}

.right {

  &Container {
    max-width: 650px;
    margin: 0 auto;
  }

  &Game {
    @include link;
    font-weight: 600;
    text-transform: uppercase;
  }

  &Title {
    margin: 15px 0 0 0;
    font-size: 32px;
    line-height: 44px;
  }

  &Date {
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--color-gray);
  }

  &Text {
    margin: 20px 0 0 0;
    font-size: 17px;
    line-height: 19px;
    font-weight: 400;
  }
}

.comments {

  &Container {
    @media (min-width: 992px) {
      width: 66.666%;
      margin: 0 auto;
    }
  }

  &Title {
    font-size: 21px;
    line-height: 36px;
  }

  &Count {
    position: relative;
    top: -12px;
    display: inline-block;
    padding: 5px;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 6px 0 var(--layer-shadow);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
  }

  &Comment {

  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 42px 0;
  }

  &__tabs {
    @include tabs;
  }

  &__tab {
    @include tab;
  }

  &__Tab_selected {
    background-color: #fffbed;
  }

  &__messages {

  }

  &__message {
    margin: 0 0 16px 0;
  }


  &__reply {
    background-color: white;
    box-shadow: 3px 2px 6px 0 rgba(0, 0, 0, 0.25);
    z-index: 100;
  }
}

.reply {
  &__container {
    @media (min-width: 992px) {
      width: 66.666%;
      margin: 0 auto;
    }
  }

  &__message {
    display: flex;
    column-gap: 5px;
    padding: 10px 0;
  }

  &__avatar {

  }

  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__control{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__textarea {
    flex: 1 1 auto;
    height: 38px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--color-light-gray);
    color: black;
    resize: none;
    font-size: 16px;
    line-height: 18px;

    &:focus {
      outline: none;
      background-color: var(--color-light-gray);
    }
  }

  &__btn {
    margin: 0 0 0 10px;
    padding: 7px 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--color-primary);
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}
